.mainDiv {
  width: 100%;
  text-align: center;
  background: #6b0204;
  padding: 40px 0;
  min-height: 300px;
  margin-top: 10px;

  h2 {
    font-family: Tangerine;
    font-weight: bold;
    color: gold;
    font-size: 35px;
  }

  h3 {
    font-weight: bold;
    color: rgba(255, 215, 0, 0.5);
    font-size: 24px;
  }

  h4 {
    font-weight: bold;
    color: rgba(255, 215, 0, 0.5);
    font-size: 18px;
  }

  h5 {
    color: rgba(255, 215, 0, 0.5);
    font-size: 15px;
  }
}
