<div *ngIf="studentInfo">
  <header>
    <h1>
      <a [routerLink]="'/student/' + studentId" matTooltip="მეტის ნახვა">
        {{ studentInfo.name }} {{ studentInfo.last_name }}
      </a>
    </h1>
  </header>

  <div class="main">
    <div class="imageDiv">
      <img
        class="image"
        [src]="
          studentInfo['image_base64'] ||
          '../../../../../../assets/images/icon-student.png'
        "
        alt="პროფილის სურათი"
        width="70"
        height="70"
      />
    </div>
    <hr />
    <ul>
      <li>ელ. მისამართი: {{ studentInfo.email }}</li>
      <li>
        დასაქმების სტატუსი:
        {{ studentInfo.employed ? 'დასაქმებულია' : 'არ არის დასაქმებული' }}
      </li>
      <li>ჰობი: {{ studentInfo.hobby }}</li>
      <li>პროფილის სტატუსი: {{ studentInfo.name }}</li>
      <li>დამთავრება: {{ studentInfo.graduate_date | date: 'dd-MM-yyyy' }}</li>
    </ul>
  </div>
</div>
